{
  "singleQuote": true,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "trailingComma": "all",
  "semi": true,
  "bracketSameLine": true,
  "printWidth": 60,
  "htmlWhitespaceSensitivity": "ignore",
  "useTabs": false,
  "endOfLine": "lf",
  "parser": "html",
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "tabWidth": 4
      }
    },
    {
      "files": "*.html",
      "options": {
        "tabWidth": 2
      }
    }
  ]
}